{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Clustering SO Papers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'cluster/style.css' %}">
    
    <body>
        <div id='container'>
            <div id='intro'>
                <h3>Overview</h3>
                <p>Just some text</p>
                <h3>Data Collection</h3>
                <h5>Basic Statistics</h5>
                <h3>Data processing</h3>
            </div>

            <div id='cluster'>
                <h3>Clustering the documents</h3>
                <h3>Conclusion</h3>
            </div>

            <div id='footer'>
                <h4>References</h4>
            </div>
        </div>
        

    </body>

</html>
